@import "animations.css";

html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #F5F5F5;
}

.app {
  max-width: 1100px;
  margin: auto;

}
  h1, h2, h3 {
      font-family: 'Roboto';
}
  p, ul, li, span {
      font-family: 'Open Sans';
}

.search {
  display: flex;
  justify-content: space-evenly;
  border: none;
  text-align: center;
}

.search input {
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  border: 2px solid darkgray;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  flex-grow: 4;
}

.search input:active {
  border: 2px solid black;
}

.icon {
  color: white;
  padding-right: 10px;
  font-size: medium;
}

.search button {
  width: 200px;
  font-size: 22px;
  line-height: 26px;
  border: none;
  border-radius: 5px;
  background-color: #070;
  color: white;
  margin-left: 20px;
  height: auto;
  cursor: pointer;
}

.search button:hover {
  background-color: #050;
  transition: all 0.2s linear;
}

.search button:active {
  background-color: #020;
  transition: all 0.2s linear;
}

.loading-box {
  display: flex;
  vertical-align: center;
  margin-top: 33px;
  width: auto;
  max-width: auto;
}

.results-meta {
  margin: 20px 0;
}

.show-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation: fadeIn 5s; 
}

.show-preview {
  max-width: 300px;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.show-preview:hover {
  background-color: #2d3e30;
  color: white;
  transition: all 0.2s ease;
}

.show-preview:active {
  background-color: #1a251c;
  filter: brightness(50%);
  color: white;
  transition: all 0.2s ease;
}

.show-preview img {
  max-width: 100%;
  margin-bottom: 3px;
}

.show-preview span {
  font-weight: bold;
  display: block;
}

.show {
  display: flex;
  margin: 50px 0;
  animation: fadeIn 3s;
}

.show-back {
  margin: 30px 0;
}

.show-back button {
  background: #070;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.show-back button:hover {
  background-color: #050;
  transition: all 0.2s linear;
}

.show-back button:active {
  background-color: #020;
  transition: all 0.2s linear;
}

.show-image {
  flex: 0 0 auto;
  width: 350px;
  margin-right: 50px;
  text-align: center;
}

.show-image img {
  max-width: 100%;
}

.missing-image {
  border: dotted black 2px;
  width: 350px;
  height: 450px;
}

.missing-image-med {
  margin: 0px 10px 7px 10px;
  border: dotted black 2px;
  height: 84%;
}

.missing-image-text {
  position: relative;
  top: 100px;
  font-weight: bold;
}

.show h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 10px 0;
}

.show-meta {
  color: #777;
}


.cast {
  list-style: none;
  padding: 0;
  animation: fadeIn 3s; 
}

.cast-member {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cast-member-image {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
} 

.cast-member-image img {
  max-width: 100%;
  max-height: 100%;
}

.missing-cast-image {
  width: 50px;
  height: 50px;
  border: 2px dotted black;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.missing-cast-msg {
  font-size: 11px;
  font-weight: bold;
}


/* Responsive */
@media (max-width: 1200px){
  .body {
    overflow-x: hidden;
  }
  .app {
    max-width: 980px;
  }
  .show-preview {
    flex: 1 0 50%;
    padding: 5px;
  }
  .missing-image-med {
    border: dotted black 2px;
    margin: 0px 0px 10px 50px;
    height: 290px;
    width: 200px;
  }
}

@media (max-width: 1024px){
  .app {
    max-width: 760px;
  }
  .show-preview {
    flex: 1 0 30%;
    padding: 5px;
  }
  .missing-image-med {
    border: dotted black 2px;
    margin: 0px 0px 10px 20px;
    height: 290px;
    width: 200px;
  }
}

@media (max-width: 800px){
  .app {
    width: 100vw;
    max-width: 480px;
  }
  .show-preview {
    flex: auto;
    width: 40%;
    padding: 5px;
  }
  .show {
    display: block;
  }
  .show-image {
    padding-left: 100px;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px){
  .app {
    max-width: 320px;
  }
  .html, body {
    font-size: 20px;
  }
  .show-preview {
    flex: 1 0 50%;
    width: 40%;
    padding: 5px;
  }
  .missing-image-med {
    border: dotted black 2px;
    margin: 0px 0px 10px 50px;
    height: 300px;
    width: 200px;
  }
  .show-image {
    padding-left: 0;
    padding-bottom: 30px;
  }
  .missing-image {
    width: 300px;
  }
}