.app {
  max-width: 1100px;
  margin: auto;
}
  h1, h2, h3 {
      font-family: 'Roboto';
}
  p, ul, li, span {
      font-family: 'Archivo';
}

.search {
  display: flex;
  justify-content: space-evenly;
  border: none;
  text-align: center;
}

.search input {
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  border: 2px solid darkgray;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  flex-grow: 4;
}

.search input:active {
  border: 2px solid black;
}

.icon {
  color: white;
  padding-right: 10px;
  font-size: medium;
}

.search button {
  width: 200px;
  font-size: 22px;
  line-height: 26px;
  border-color: #050;
  border-radius: 5px;
  background-color: #070;
  color: white;
  margin-left: 20px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
  cursor: pointer;
}

.search button:hover {
  background-color: #050;
  transition: all 0.2s linear;
}

.search button:active {
  background-color: #020;
  transition: all 0.2s linear;
}

.results-meta {
  margin: 20px 0;
}

.show-list {
  display: flex;
  flex-wrap: wrap;
}

.show-preview {
  max-width: 300px;
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.show-preview img {
  max-width: 100%;
  margin-bottom: 3px;
}

.show-preview span {
  color: black;
  font-weight: bold;
  display: block;
}

.show {
  display: flex;
  margin: 50px 0;
}

.show-back {
  margin: 30px 0;
}

.show-back button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.show-back button:before {
  content: "≡ ";
}

.show-image {
  flex: 0 0 auto;
  width: 350px;
  margin-right: 50px;
}

.show-image img {
  max-width: 100%;
}

.show h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 10px 0;
}

.show-meta {
  color: #777;
}


.cast {
  list-style: none;
  padding: 0;
}

.cast-member {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cast-member-image {
  max-width: 40px;
  margin-right: 10px;
}

.cast-member-image img {
  max-width: 100%;
}